
.Rproj.user/9FBA3BBD/build_options
.Rproj.user/9FBA3BBD/sources/prop/4E00002B
.Rproj.user/9FBA3BBD/sources/prop/60087F32
.Rproj.user/9FBA3BBD/sources/prop/INDEX
.Rproj.user/9FBA3BBD/sources/s-E472794F/2D2B4930
.Rproj.user/9FBA3BBD/sources/s-E472794F/2D2B4930-contents
.Rproj.user/9FBA3BBD/sources/s-E472794F/F46B812F
.Rproj.user/9FBA3BBD/sources/s-E472794F/F46B812F-contents
.Rproj.user/9FBA3BBD/sources/s-E472794F/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rbuildignore
*.Rproj
